*-LICENSE-*
*.deb
*.gz
*.log
*.pacman
*.pkg.tar.xz
*.pkg.tar.zst
*.rpm
*.tar.gz
*.tar.xz
*.zip
.pytest_cache/
.ruff_cache/
.venv/
.wrangler/
__pycache__/
packages/voxtype-vulkan/*-[0-9]*.[0-9]*
packages/walker/*-[0-9]*.[0-9]*
pkg/
src/
