pkgbase = niri-patched
	pkgdesc = A scrollable-tiling Wayland compositor with a larger default max buffer size
	pkgver = 25.11
	pkgrel = 1
	url = https://github.com/niri-wm/niri
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = clang
	makedepends = git
	makedepends = rust
	depends = cairo
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libdisplay-info
	depends = libinput
	depends = libpipewire
	depends = libxkbcommon
	depends = mesa
	depends = pango
	depends = pixman
	depends = seatd
	depends = systemd-libs
	depends = xdg-desktop-portal-impl
	optdepends = alacritty: a suggested GPU-accelerated terminal emulator
	optdepends = bash: for niri-session script
	optdepends = fuzzel: a suggested Wayland application launcher
	optdepends = mako: a suggested Wayland notification daemon
	optdepends = org.freedesktop.secrets: for apps to rely on secrets portal
	optdepends = swaybg: a suggested Wayland wallpaper tool
	optdepends = swaylock: a suggested Wayland screen locker
	optdepends = waybar: a suggested Wayland customizable desktop bar
	optdepends = xwayland-satellite: for running X11 apps in XWayland
	optdepends = xdg-desktop-portal-gtk: a suggested XDG desktop portal
	optdepends = xdg-desktop-portal-gnome: a XDG desktop portal required for screencasting
	provides = niri
	provides = wayland-compositor
	conflicts = niri
	source = niri-25.11.tar.gz::https://github.com/niri-wm/niri/archive/refs/tags/v25.11.tar.gz
	source = max-buffer-size.patch
	sha512sums = 88adbfc1b993d692e981d811dbfcb0898fefbc184c5659a14b4f61cf9e1dcf5c9eb100e68807710ed9ed89799277fafbecf9fc3057c41d93c19dbaf96350a697
	sha512sums = SKIP
	b2sums = 1ae432534044bbc4ab34d30d1c52e2f90e0391e5d04611c1b7ec60ccb1ba6fe87ff4c28f82de26d8eee2c839deb37c8096deec2ee7819884a23bfa4f3746c147
	b2sums = SKIP

pkgname = niri-patched
