pkgbase = walker
	pkgdesc = Wayland application runner
	pkgver = 2.17.0
	pkgrel = 1
	url = https://github.com/abenz1267/walker
	arch = x86_64
	license = GPL-3.0-only
	depends = cairo
	depends = elephant
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = gtk4-layer-shell
	depends = poppler-glib
	optdepends = elephant-all: elephant + all official elephant providers
	conflicts = walker-bin
	replaces = walker-bin
	options = !strip
	options = !debug
	backup = etc/xdg/walker/config.toml
	source = walker-LICENSE-2.17.0::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/LICENSE
	source = README-2.17.0.md::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/README.md
	source = config-2.17.0.toml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/config.toml
	source = item-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/item.xml
	source = item_actionsmenu-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/item_actionsmenu.xml
	source = item_aptpackages-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/item_aptpackages.xml
	source = item_archlinuxpkgs-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/item_archlinuxpkgs.xml
	source = item_bookmarks-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/item_bookmarks.xml
	source = item_calc-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/item_calc.xml
	source = item_clipboard-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/item_clipboard.xml
	source = item_dmenu-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/item_dmenu.xml
	source = item_dnfpackages-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/item_dnfpackages.xml
	source = item_files-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/item_files.xml
	source = item_providerlist-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/item_providerlist.xml
	source = item_symbols-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/item_symbols.xml
	source = item_symbols_grid-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/item_symbols_grid.xml
	source = item_todo-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/item_todo.xml
	source = item_unicode-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/item_unicode.xml
	source = keybind-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/keybind.xml
	source = layout-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/layout.xml
	source = preview-2.17.0.xml::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/preview.xml
	source = style-2.17.0.css::https://raw.githubusercontent.com/abenz1267/walker/v2.17.0/resources/themes/default/style.css
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	source_x86_64 = walker-2.17.0-x86_64.tar.gz::https://github.com/abenz1267/walker/releases/download/v2.17.0/walker-v2.17.0-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = SKIP

pkgname = walker
