pkgbase = bluebubbles
	pkgdesc = Cross-platform app ecosystem bringing iMessage to Android, PC, and Web
	pkgver = 2.0.0+89
	pkgrel = 1
	url = https://bluebubbles.app
	arch = x86_64
	license = Apache-2.0
	depends = ayatana-ido
	depends = gdk-pixbuf2
	depends = gtk3
	depends = libayatana-appindicator
	depends = libayatana-indicator
	depends = libdbusmenu-glib
	depends = mpv
	depends = webkit2gtk-4.1
	conflicts = bluebubbles-bin
	replaces = bluebubbles-bin
	options = !strip
	options = !debug
	options = !emptydirs
	source = bluebubbles.sh
	source = bluebubbles.desktop
	source = bluebubbles-LICENSE-2.0.0+89::https://raw.githubusercontent.com/BlueBubblesApp/bluebubbles-app/v2.0.0+89/LICENSE
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	source_x86_64 = bluebubbles-2.0.0+89-x86_64.tar.gz::https://github.com/BlueBubblesApp/bluebubbles-app/releases/download/v2.0.0+89/bluebubbles-linux-x86_64.tar.gz
	sha256sums_x86_64 = SKIP

pkgname = bluebubbles
