pkgbase = claude-desktop
	pkgdesc = Desktop application for Claude.ai
	pkgver = 1.17377.0
	pkgrel = 1
	url = https://claude.ai/download
	arch = x86_64
	license = custom:Proprietary
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = xdg-utils
	depends = at-spi2-core
	depends = libdrm
	depends = mesa
	depends = libxcb
	depends = libsecret
	depends = glibc
	depends = libxtst
	depends = util-linux-libs
	depends = xdg-desktop-portal
	depends = xdg-desktop-portal-impl
	depends = alsa-lib
	depends = glib2
	depends = ca-certificates
	optdepends = libayatana-appindicator: system tray support
	optdepends = gnome-keyring: GNOME secret storage
	optdepends = kwallet: KDE secret storage
	optdepends = qemu-system-x86: Claude Code VM support
	optdepends = edk2-ovmf: UEFI firmware for Claude Code VM support
	optdepends = virtiofsd: shared filesystem support for Claude Code VM support
	provides = claude-desktop-bin
	conflicts = claude-desktop-bin
	options = !strip
	options = !debug
	source = claude-desktop-1.17377.0-amd64.deb::https://downloads.claude.ai/claude-desktop/apt/stable/pool/main/c/claude-desktop/claude-desktop_1.17377.0_amd64.deb
	sha256sums = 563c8df8ee3b957ca234115980386e960007ed8cfc8cc04c77d58a8d43f6c018

pkgname = claude-desktop
