pkgbase = handy
	pkgdesc = Free, open source, cross-platform speech-to-text application
	pkgver = 0.9.5
	pkgrel = 1
	url = https://handy.computer
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = cairo
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = gtk-layer-shell
	depends = hicolor-icon-theme
	depends = libappindicator-gtk3
	depends = libsoup3
	depends = openblas
	depends = openssl
	depends = vulkan-icd-loader
	depends = webkit2gtk-4.1
	conflicts = handy-bin
	replaces = handy-bin
	options = !strip
	options = !debug
	source_x86_64 = handy-0.9.5.deb::https://github.com/cjpais/Handy/releases/download/v0.9.5/Handy_0.9.5_amd64.deb
	source_x86_64 = handy-LICENSE-0.9.5::https://raw.githubusercontent.com/cjpais/Handy/refs/tags/v0.9.5/LICENSE
	sha256sums_x86_64 = e315105a78387525d205365f496a92e24f5578c4bdb1d609c03a955072870b29
	sha256sums_x86_64 = 3564e8ec14055ed54f896e8660a62627ea4fc3a1b64f72b798593df00e1f4edc

pkgname = handy
