pkgbase = yay
	pkgdesc = Pacman wrapper and AUR helper written in Go
	pkgver = 13.0.1
	pkgrel = 1
	url = https://github.com/Jguer/yay
	arch = x86_64
	license = GPL-3.0-or-later
	depends = pacman>6.1
	depends = git
	optdepends = sudo: privilege elevation
	optdepends = doas: privilege elevation
	conflicts = yay-bin
	replaces = yay-bin
	options = !strip
	options = !debug
	source_x86_64 = yay_13.0.1_x86_64.tar.gz::https://github.com/Jguer/yay/releases/download/v13.0.1/yay_13.0.1_x86_64.tar.gz
	sha256sums_x86_64 = 1fdfcb5f7f387bc858d3a5754bdf4e4575bfbddac9560535a716d0ed7189c057

pkgname = yay
