pkgbase = littlesnitch
	pkgdesc = Monitors and controls outgoing network connections using eBPF
	pkgver = 1.1.0_1
	pkgrel = 1
	url = https://obdev.at/products/littlesnitch-linux/
	install = littlesnitch.install
	arch = x86_64
	license = GPL-2.0-only
	license = LicenseRef-proprietary
	depends = systemd
	conflicts = littlesnitch-bin
	options = !strip
	options = !debug
	source = obdev-littlesnitch-1.1.0-1-x86_64.pkg.tar.zst::https://obdev.at/downloads/littlesnitch-linux/littlesnitch-1.1.0-1-x86_64.pkg.tar.zst
	sha256sums = 618f41e8ab7f7a3ff5b50d53240bd4eed3c16aff3fdab4ebc0a308cdf17b2088

pkgname = littlesnitch
