pkgbase = codiff
	pkgdesc = A beautiful, minimal, local diff viewer for reviewing staged and unstaged Git changes before committing
	pkgver = 1.10.1
	pkgrel = 1
	url = https://codiff.dev
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = nss
	depends = at-spi2-core
	depends = alsa-lib
	depends = cups
	depends = mesa
	depends = libxcomposite
	depends = libxdamage
	depends = libxkbcommon
	depends = libxrandr
	conflicts = codiff-bin
	replaces = codiff-bin
	options = !strip
	options = !debug
	source_x86_64 = codiff_1.10.1_amd64.deb::https://github.com/nkzw-tech/codiff/releases/download/v1.10.1/codiff_1.10.1_amd64.deb
	sha256sums_x86_64 = fbcb990102a2c2999112ed77559f2c5952ee1c12cad74f94c406f12c24898c01

pkgname = codiff
