pkgbase = webcord
	pkgdesc = A Discord client implemented directly without Discord API
	pkgver = 4.14.0
	pkgrel = 1
	url = https://github.com/SpacingBat3/WebCord
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = expat
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	conflicts = webcord-bin
	replaces = webcord-bin
	noextract = webcord-4.14.0-1.x86_64.rpm
	options = !strip
	options = !debug
	options = !emptydirs
	source = flags.sh
	source = webcord-LICENSE-4.14.0::https://raw.githubusercontent.com/SpacingBat3/WebCord/v4.14.0/LICENSE
	sha256sums = d83693ffd8034c21030262ac00ce529c8da7b0196ea4b4eb2168861fc2657a2a
	sha256sums = 7a79d59a86aaa880fc0126f9ce516f7aa061a4009183d1e93197e850328c038a
	source_x86_64 = https://github.com/SpacingBat3/WebCord/releases/download/v4.14.0/webcord-4.14.0-1.x86_64.rpm
	sha256sums_x86_64 = e4e96656b3b0f5a6954022c47bbd4af48f49f0838f37ac290ff80ae4f76123ea

pkgname = webcord
