pkgbase = paper-design
	pkgdesc = A collaborative design tool built on web standards with agent integration
	pkgver = 0.1.13
	pkgrel = 1
	url = https://paper.design
	arch = x86_64
	license = custom:Proprietary
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	optdepends = libappindicator-gtk3: system tray support
	provides = paper-desktop
	options = !strip
	options = !debug
	source = paper-design-0.1.13.deb::https://download.paper.design/linux/deb
	sha256sums = aed6fec65778c7d4e6be5df966d2276969ac2573ae88ba40d5969428bc731660

pkgname = paper-design
