pkgbase = paper-design
	pkgdesc = A collaborative design tool built on web standards with agent integration
	pkgver = 0.4.3
	pkgrel = 1
	url = https://paper.design
	arch = x86_64
	license = custom:Proprietary
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	optdepends = libappindicator-gtk3: system tray support
	provides = paper-desktop
	options = !strip
	options = !debug
	source = paper-design-0.4.3.deb::https://download.paper.design/linux/deb
	sha256sums = 6f98b0d6930ace0ac01540b2cf788040f3367acb8cc85ce839b5fb552dda5551

pkgname = paper-design
