pkgbase = paper-design
	pkgdesc = A collaborative design tool built on web standards with agent integration
	pkgver = 0.1.14
	pkgrel = 1
	url = https://paper.design
	arch = x86_64
	license = custom:Proprietary
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	optdepends = libappindicator-gtk3: system tray support
	provides = paper-desktop
	options = !strip
	options = !debug
	source = paper-design-0.1.14.deb::https://download.paper.design/linux/deb
	sha256sums = ada596364048682e9713eaad0b1c9099c6de17bfc90c72862b0e42b223e4d249

pkgname = paper-design
